*callgrind*
*\#*
*~
*.clean
*.csv
*.dat
*.log
*__pycache__/*
*.prof
*.pyc
*.hydra/*
.ipynb_checkpoints
config/default.yml
config/global.yml
queues/*
outputs/*
lightning_logs/*
checkpoints/*
logs/*
test_output/*
results/*
.neptune/*
!*/.gitkeep
tmp.sh
cfg/platform/local.yaml
*.out
*.err
